.hero {
  height: 52dvh;
}

.hero__video {
  width: 100%;
  height: 52dvh;
  object-fit: cover;
}

.hero__detail {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 24%;
  left: 5%;
  gap: 1rem;
}

.hero__detail p:nth-child(1) {
  max-width: 600px;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: bold;
}

.hero__detail p:nth-child(2) {
  padding-right: 1rem;
  max-width: 700px;
  font-size: 0.8rem;
}

@media screen and (min-width: 600px) {
  .hero__detail p:nth-child(1) {
    font-size: 2.5rem;
  }

  .hero__detail p:nth-child(2) {
    font-size: 0.9rem;
  }
}
